body {
  position: relative;
  padding: 0;
  margin: 0;

  /* Same width as canvas */
  min-width: 1200px;

  font-family: Helvetica, Arial;
}

canvas {
  margin: 0 auto;
}

h2 {
  color: #253659;
}

#name {
  display: none;

  box-sizing: border-box;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 400px;
  top: 320px;

  text-align: center;
  padding: 8px;
  font-size: 20px;
  border-radius: 6px;
  border: solid 1px #253659;
}

#lobby {
  display: none;
  width: 800px;

  position: absolute;
  left: 0;
  right: 0;
  top: 420px;

  margin: 0 auto;

  text-align: center;
}

.player {
  display: inline-block;
  height: 80px;

  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 5px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #c7c7c7;

  margin: 0;
  display: inline-block;
}

.player.ape .status {
  background-color: #96c3d6;
}

.player.guard .status {
  background-color: #ff6d5a;
}

.name {
  margin: 0;
  display: inline-block;

  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  color: #444444;
}

.player.ape .name {
  color: #2d5875;
}

.player.guard .name {
  color: #753434;
}
